@import "tailwindcss";

:root {
  --primary: #FF3158;
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #222222;
  --text-secondary: #333333;
  --font-quicksand: "Quicksand", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
  --color-primary: var(--primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-primary: var(--text-primary);
}

body {
  background: var(--background);
  color: var(--text-secondary);
  font-family: var(--font-sans);
}